html {
  scroll-behavior: smooth;
}

textarea {
  field-sizing: content;
}

.apunte-grid {
  display: grid;
  grid-template-columns: 1fr 280px;
  gap: 2rem;
}

/* El contenido del apunte */
.post {
  flex: 3;
  min-width: 790px;
  max-width: 800px; /* Tamaño máximo legible en pantallas grandes */
  width: 100%;
  margin: 0 auto; /* Centrado horizontal */
  padding: 1rem; /* Espaciado interior */
  box-sizing: border-box;
}

.post-content h1 {
  font-size: 2rem;
  font-weight: bold;
  margin-top: 2rem;
}

.post-content h2 {
  font-size: 1.6rem;
    font-weight: bold;
  margin-top: 1.5rem;
}

.post-content h3 {
  font-size: 1.3rem;
  margin-top: 1.2rem;
}

/*------------------------------Admonitions----------------------------------------*/
.admonition {
  border-left: 5px solid var(--color);
  border-radius: 0.75rem;
  padding: 0.75em 1em;
  margin: 1.5em 0;
  background-color: var(--bg);
  color: #333;
  box-shadow: 0 0 6px rgba(0,0,0,0.05);
  font-family: inherit;
}

.admonition-title {
  font-weight: bold;
  margin-bottom: 0.5em;
}

.admonition-info {
  --color: #8EACCD;
  --bg: #e6ecfa;
}

.admonition-warning {
  --color: #FFA38F;
  --bg: #fff3e0;
}

.admonition-danger {
  --color: #FA7070;
  --bg: #fdecea;
}

.admonition-tip {
  --color: #7BD3EA;
  --bg: #e8f5f5;
}

.admonition-note {
  --color: #7743DB;
  --bg: #efe5f5;
}

.admonition-abstract,
.admonition-question {
  --color: #B799FF;
  --bg: #f5f1fa;
}

.admonition-bug {
  --color: #F8F988;
  --bg: #efefe9;
}

@media screen and (max-width: 1480px) {
  .toc-sidebar {
    display: none;
  }

  .apunte-grid {
    display: block;
  }

    .post {
    min-width: 100%;
    padding: 1rem; /* Espaciado en móvil */
  }
}